## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
os.getcwd()

'C:\\Users\\marianaga\\Class\\World_Weather_Analysis\\Vacation_Search'

In [18]:
os.listdir()

['.ipynb_checkpoints', 'config.py', 'Vacation_Search.ipynb', '__pycache__']

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'\Users\marianaga\Class\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Champerico,14.30,-91.92,84.20,overcast clouds,79,90,6.93,GT
1,1,Vanimo,-2.67,141.30,78.03,light rain,82,17,3.67,PG
2,2,Bluff,-46.60,168.33,39.99,overcast clouds,97,94,9.69,NZ
3,3,Tortoli,39.93,9.66,84.20,few clouds,94,20,5.82,IT
4,4,Port Alfred,-33.59,26.89,61.92,clear sky,60,0,4.14,ZA

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
4,4,Port Alfred,-33.59,26.89,61.92,clear sky,60,0,4.14,ZA
5,5,Imbituba,-28.24,-48.67,64.40,clear sky,45,0,9.17,BR
9,9,Rikitea,-23.12,-134.97,66.76,scattered clouds,71,28,19.28,PF
11,11,Puerto Ayora,-0.74,-90.35,71.60,scattered clouds,68,40,25.28,EC
12,12,Kamenka,51.32,42.77,62.01,scattered clouds,56,33,1.99,RU
13,13,Mehamn,71.04,27.85,61.56,broken clouds,76,55,17.31,NO
16,16,Grand Gaube,-20.01,57.66,68.00,scattered clouds,79,50,3.00,MU
22,22,Saint-Philippe,-21.36,55.77,69.80,scattered clouds,68,34,6.93,RE
24,24,Rio Grande,-32.03,-52.10,64.40,clear sky,31,0,10.29,BR
25,25,Arraial Do Cabo,-22.97,-42.03,69.80,overcast clouds,64,90,11.41,BR

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                236
City                   236
Lat                    236
Lng                    236
Max Temp               236
Current Description    236
Humidity               236
Cloudiness             236
Wind Speed             236
Country                236
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port Alfred,ZA,61.92,clear sky,-33.59,26.89,
5,Imbituba,BR,64.40,clear sky,-28.24,-48.67,
9,Rikitea,PF,66.76,scattered clouds,-23.12,-134.97,
11,Puerto Ayora,EC,71.60,scattered clouds,-0.74,-90.35,
12,Kamenka,RU,62.01,scattered clouds,51.32,42.77,
13,Mehamn,NO,61.56,broken clouds,71.04,27.85,
16,Grand Gaube,MU,68.00,scattered clouds,-20.01,57.66,
22,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,
24,Rio Grande,BR,64.40,clear sky,-32.03,-52.10,
25,Arraial Do Cabo,BR,69.80,overcast clouds,-22.97,-42.03,

In [38]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port Alfred,ZA,61.92,clear sky,-33.59,26.89,The Halyards Hotel
5,Imbituba,BR,64.40,clear sky,-28.24,-48.67,Praia Hotel Imbituba
9,Rikitea,PF,66.76,scattered clouds,-23.12,-134.97,Pension Maro'i
11,Puerto Ayora,EC,71.60,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
12,Kamenka,RU,62.01,scattered clouds,51.32,42.77,
13,Mehamn,NO,61.56,broken clouds,71.04,27.85,Mehamn Arctic Hotel AS
16,Grand Gaube,MU,68.00,scattered clouds,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
22,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
24,Rio Grande,BR,64.40,clear sky,-32.03,-52.10,Hotel Atlântico Rio Grande
25,Arraial Do Cabo,BR,69.80,overcast clouds,-22.97,-42.03,Pousada Porto Praia

In [48]:
clean_hotel_df.count()

City                   236
Country                236
Max Temp               236
Current Description    236
Lat                    236
Lng                    236
Hotel Name             236
dtype: int64

In [55]:
os.getcwd()

'C:\\Users\\marianaga\\Class\\World_Weather_Analysis\\Vacation_Search'

In [56]:
# 8a. Create the output File (CSV)
output_data_file = 'C:\\Users\\marianaga\\Class\\World_Weather_Analysis\\Vacation_Search\\WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [68]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))